/* 
Reference: 
https://simple.wikipedia.org/wiki/Hexadecimal

The hexadecimal numeral system, often shortened to "hex",
is a numeral system made up of 16 symbols (base 16).

*/


h1 {
    color: #a23432
}

p {
    color: #b563;
}
button {
    color: white;
    background-color: black;
}

