
/* 
(em)
With font-size, 1em equals the font-size
of the parent. 2em's is twice the fontsize of the parent, etc.

With other properties, 1em is equal to
the computed font-size of the element
itself.

*/

article{
    font-size: 12px;
}

/* with px */
section > p {
    background-color: aquamarine;
    font-size: 24px;
    margin-left: 48px;
}

/* with em */
article > p {
    background-color: antiquewhite;
    font-size: 2em;
    margin-left: 1em;
    /* 1em =24, 2em =48 */
}

